body{
	text-align: center;
	background-color: purple;
}

h1 {
  color: white;
}
section{
	text-align: center;
}

img{
	display: inline-block;
	width: 150px;
	height: 150px;

}

.playSquare{
	background-color: red;
	border: 1px solid black;
	width: 150px;
	height: 150px;
	
	display: inline-block;
}

.clearfix{
	clear: both;
}